nav {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 20px;
}

.title, #score {
  padding-top: 6px;
}

.title {
  float: left;
}

#score{
  float: right;
  // outline: 1px solid orange;
}

#computer-score {
  margin-left: 20px;
}
